.container.quiz-details-container {
    margin-top: 2rem;
  }
  
  .action-buttons button {
    font-size: 1rem;
    padding: 8px 16px;
  }
  
  .action-buttons #wd-publish-btn {
    margin-right: 0.5rem;
  }
  
  .btn-danger {
    background-color: red;
  }
  
  .btn-success {
    background-color: green;
  }
  
  .quiz-details p {
    margin: 0.5rem 0;
  }
  
  .text-center .btn-danger {
    font-size: 1rem;
    padding: 10px 20px;
  }
  