.wd-quizzes-container {
  padding: 20px;
}

.wd-quiz-editor-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

.wd-quizzes-list-item {
  font-weight: normal;
}

.wd-assignment-description {
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}

#wd-search-assignment {
  margin-right: 5px;
  width: auto;
  display: inline-block;
}

#wd-add-assignment-group,
#wd-add-assignment {
  margin-right: 5px;
}
